@model IEnumerable<job_management_final.employee>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.age)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sex)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.contact_number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.user.email)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sex)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.contact_number)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.user.email)
            </td>
            <td>
                @*@Html.ActionLink("Edit", "Edit", new { id=item.id_employee }) |*@
                @Html.ActionLink("Details", "Details", new { id = item.id_employee })
                @*@Html.ActionLink("Delete", "Delete", new { id=item.id_employee })*@
            </td>
        </tr>
    }

</table>
